.order,
.order_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.order_container {
  margin-top: 6rem;
}
.order_container > h2 {
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
  margin-bottom: 1rem;
}
.order_container > p {
  font-size: 1rem;
  color: #aaa;
  margin-bottom: 1rem;
}
.order_content {
  width: 1200px;
  background-color: #fff;
  border: 2px solid goldenrod;
  padding: 1rem;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.order_content > h3 {
  font-size: 1.5rem;
  font-weight: bold;
}
.order_content .order_input {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.order_content .order_input label {
  font-weight: bold;
}
.order_content .order_input label span {
  color: red;
}
.order_content .order_input input {
  width: 100%;
  border: 2px solid #aaa;
  margin: 10px;
  padding: 10px;
  border-radius: 16px;
  outline: none;
  padding-right: 4rem;
}
.order_content .order_input select {
  width: 100%;
  border: 2px solid #aaa;
  margin: 10px;
  padding: 10px;
  border-radius: 16px;
  outline: none;
}
.phone_div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}
.phone_div span {
  position: absolute;
  right: 12px;
  background-color: #eee;
  padding: 10px;
  border-radius: 16px;
  font-weight: bold;
}
.order_btn {
  width: 100%;
  text-align: center;
}
.order_btn button {
  background-color: goldenrod;
  color: #fff;
  padding: 10px;
  width: 150px;
  transition: 0.3s ease;
}
.order_btn button:hover {
  background-color: #000;
  color: #fff;
  border-radius: 10px;
}
.order_created {
  width: 500px;
  background-color: #fff;
  border: 2px solid #000;
  box-shadow: 4px 4px 10px #333;
  border-radius: 16px;
  position: absolute;
  z-index: 999;
  display: none;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  padding: 1rem;
}
.order_created > h3 {
  font-size: 1.5rem;
  font-weight: bold;
}
.order_created .close {
  position: absolute;
  top: 30px;
  right: 20px;
  font-size: 1.5rem;
  padding: 1rem;
  cursor: pointer;
}
.order_created > .checked {
  width: 50px;
  height: 50px;
  text-align: center;
  color: green;
  background-color: greenyellow;
  padding: 1rem;
  border-radius: 50%;
}
.order_details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.order_details > h4 {
  font-size: 1.1rem;
  color: #aaa;
}
.order_details > p {
  border-bottom: 1px solid #aaa;
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
}
.order_details > p:last-child {
  border: none;
}
.order_content_row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.order_container .order_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.order_container .order_menu button {
  background-color: #fff;
  border: 1px solid grey;
  margin: 10px 0;
  border-radius: 50px;
  padding: 5px 10px;
}
.order_container .order_menu > div {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid goldenrod;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.details_container_order {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.order_totalPrice {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.1rem;
}
.order_totalPrice span {
  font-size: 1.5rem;
  font-weight: normal;
  color: green;
}
.order_totalPrice .order_totalPrice_span {
  font-size: 1.1rem;
}
.details_container_order_info {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.details_container_order_info div {
  width: 100%;
  border-bottom: 1px dashed gray;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
.details_container_order_info div:last-of-type {
  border: none;
}
.totalPrice {
  padding: 0 2rem;
}
.details_container_order .coupon_btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
  color: rgb(238, 0, 0);
  cursor: pointer;
}
.details_container_order .coupon_discount {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  position: relative;
}
.details_container_order .coupon_discount input {
  border: 2px solid #aaa;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  outline: none;
}
.details_container_order .coupon_discount input:focus {
  border: 2px solid green;
}
.details_container_order .coupon_discount button {
  padding: 10px;
  border-radius: 8px 0 0 8px;
  position: absolute;
  background-color: #eee;
  left: 2px;
  color: #999;
  border: none;
  transition: 0.3s ease;
}
.details_container_order .coupon_discount button:hover {
  background-color: green;
  color: #fff;
}
.details_container_order .coupon_discount button.active {
  background-color: green;
  color: #fff;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 589px) {
  .order_container {
    margin: 8rem 0 2rem 0;
  }
  .order_content {
    width: 90%;
  }
  .order_created {
    width: 90%;
  }
  .order_content .order_input {
    flex-direction: column;
  }
  .order_content .order_input label {
    width: 100%;
  }
  .order_content .order_input input {
    width: 100%;
  }
  .order_content_row {
    flex-direction: column;
  }
  .order_container .order_menu {
    width: 95%;
  }
  .order_container .order_menu > div {
    width: 95%;
  }
  .order_totalPrice {
    font-size: 1rem;
  }
  .order_totalPrice span {
    font-size: 1.1rem;
  }
  .order_totalPrice .order_totalPrice_span {
    font-size: 0.9rem;
  }
  .totalPrice {
    padding: 0 0;
  }
}
